.button {
    -fx-border-color: transparent;
}

.returnMenuButton{
    -fx-background-color: transparent;
}

.returnMenuButton:hover{
    -fx-border-color: black;
}

.iconButton {
    -fx-background-color: white;
}

.iconButton:hover{
    -fx-border-color: black;
}

.cancelButton {
    -fx-background-color: #FE6F5B;
}
.cancelButton:hover {
    -fx-background-color: #D83D28;
}

.confirmButton {
    -fx-background-color: #E0FCCF;
}

.confirmButton:hover {
    -fx-background-color: #7BD942;
}

.optionButton:hover{
    -fx-background-color: #E7BE2D;
}

.optionButton {
    -fx-background-color: #FFD029;
}

.scene {
    -fx-background-color: #F4F4F4;
}

.returnPopup {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 7px;
}

.table-view .column-header .label {
    -fx-alignment: CENTER_LEFT;
}