.root {
    -background: #151515;
    -background-alt: #505050;
    -button-background: #FFD029;
    -button-text: #A07400;
    -text: #D0D0D0;
    -icon: -text;
    -correct-text: #009A19;
    -correct-background: #E0FCCF;
    -incorrect-text: #A00000;
    -incorrect-background: #FE6F5B;
    -leaderboard-first-background: #FFD029;
    -leaderboard-first-text: #A07400;
    -leaderboard-self-background: -correct-background;
    -leaderboard-self-text: -correct-text;
    -leaderboard-background: #EAEAEA;
    -leaderboard-text: derive(-text, -20%);
    -selected-border: white;
}