.button:hover{
    -fx-border-color: black;
}

.iconButton {
    -fx-background-color: white;
}

.iconButton:hover{
    -fx-border-color: black;
}

.cancelButton {
    -fx-background-color: #FE6F5B;
}
.cancelButton:hover {
    -fx-background-color: #D83D28;
}

.confirmButton {
    -fx-background-color: #E0FCCF;
}

.confirmButton:hover {
    -fx-background-color: #7BD942;
}

.optionButton:hover{
    -fx-background-color: #E7BE2D;
}

.optionButton {
    -fx-background-color: #FFD029;
}

.correctAnswer {
    -fx-background-color: #E0FCCF;
    -fx-text-fill: #009A19
}

.wrongAnswer {
    -fx-background-color: #FE6F5B;
    -fx-text-fill: #A00000;
}

.selectedOption {
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-style: solid;
}

.scene {
    -fx-background-color: white;
}

.nicknameField {
    -fx-background-color: #000000;/* #E0FCCF;*/
    -fx-text-fill: #009A19;
    -fx-prompt-text-fill: #c6d9ba;
}

.scrollPane {
    -fx-background: white;
    -fx-border-width: 1px;
}

.returnPopup {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 3px;
}
